<div class="container">

  <div class="row height d-flex justify-content-center align-items-center">

      <form action="/" method="get">
          <div class="row">
        <div class="form-group col-md-6">
        <input type="text" class="form-control form-input" placeholder="Search product..." name="search">
        </div>
        <div class="form-group col-md-3">
            <input type="text" class="form-control form-input" placeholder="Minimum Price" name="min">
        </div>
          <div class="form-group col-md-3">
              <input type="text" class="form-control form-input" placeholder="Maximum Price" name="max">
          </div>
          </div>
          <div class="row">
              <div class="form-group col-md-6 text-center">
                  <button type="submit" class="btn btn-outline-dark mt-auto">Filter</button>
              </div>
              <div class="form-group col-md-6 text-center">
                  <button type="submit" class="btn btn-outline-dark mt-auto">Search</button>
              </div>
          </div>
      </form>

    </div>

  </div>

</div>

  <!-- Section-->
  <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-center">
      <% products.forEach(function(product){ %>
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top" src="<%= product.productImage %>" alt="<%=product.name%>" />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder"><%= product.name %></h5>
                <!-- Product price-->
                <%= product.price.toLocaleString(undefined, { style: 'currency', currency: 'USD' }) %>
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent mx-auto">
                <div class="row">
                <a type="button" class="btn btn-outline-dark mt-auto" href="/product/<%= product.id %>">
                  View Details
                </a>
                <form action="/product/<%= product._id %>" method="post">
                    <button type="submit" class="btn btn-outline-dark mt-auto" >
                        Add to cart
                    </button>
                </form>
                </div>
            </div>
          </div>
        </div>
          <% }); %>
      </div>
    </div>
  </section>
