<% orders.forEach(function(order){ %>
<div class="row justify-content-center mb-3">
    <div class="col-md-12">
      <div class="card shadow-0 border rounded-3">
        <div class="card-body">
          <div class="row g-0">
            <div class="col-xl-3 col-md-4 d-flex justify-content-center">
              <div class="bg-image hover-zoom ripple rounded ripple-surface me-md-3 mb-3 mb-md-0">
                <img src="<%= order.product.productImage %>" class="w-100" />
                <a href="#!">
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xl-6 col-md-5 col-sm-7">  
                <h5><%= order.product %></h5>
                <div class="d-flex flex-column">
                <span class="fw-bold mb-1">
                  Order ID: <%= order.product._id %>
                </span>
              <span class="text-muted">Quantity: </span>
            <span class="text-muted d-flex">
              Pick-up Location: <%= order.hub %>
            </span>
            <span class="text-muted mb-3 mb-md-0">
              Order Status: <%= order.status %>
            </span>
          </div>
            </div>
            <div class="col-xl-3 col-md-3 col-sm-5">
              <div class="d-flex flex-row align-items-center mb-1">
                <h4 class="mb-1 me-1"><%= order.total %></h4>
              </div>
              <div class="mt-4">
                <a class="btn btn-dark btn-outline-light shadow-0" type="button" href="/shipper/order">View Order</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% }); %>