<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Neptune</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="icon" type="image/x-icon" href="/images/favicon.png">
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="container light-style flex-grow-1 container-p-y">
      <h4 class="font-weight-bold py-3 mb-4">
          My Account
      </h4>
      <div class="card overflow-hidden">
          <div class="row no-gutters row-bordered row-border-light">
              <div class="col-md-3 pt-0">
                  <div class="list-group list-group-flush account-settings-links">
                      <a class="list-group-item list-group-item-action active" data-toggle="list"
                          href="#account-general">General</a>
                  </div>
              </div>
              <div class="col-md-9">
                  <div class="tab-content">
                      <div class="tab-pane fade active show" id="account-general">
                          <div class="card-body media align-items-center">
                              <img src="<%= user.profilePicturePath %>" alt="Profile Picture"
                                  class="d-block ui-w-80">
                              <div class="media-body ml-4">
                                  <form action="/profile/<%= user.id %>" method="post" enctype="multipart/form-data">
                                  <label class="btn btn-outline-primary" for="image">
                                      Change Profile Picture
                                      <input type="file" class="account-settings-fileinput" name="image">
                                  </label> &nbsp;
                                  <button type="submit" class="btn btn-default md-btn-flat">Upload</button>
                                  <div class="text-light small mt-1">Allowed JPG or PNG</div>
                                  </form>
                              </div>
                          </div>
                          <hr class="border-light m-0">
                          <div class="card-body">
                              <div class="row">
                              <div class="form-group">
                                    <p><%= user.username %></p>
                              </div>
                              </div>

                              <div class="row">
                                  <div class="form-group">
                                      <p><%= user.name %></p>
                                  </div>
                              </div>

                              <div class="row">
                                  <div class="form-group">
                                      <p><%= user.address %></p>
                                  </div>
                              </div>

                              <div class="row">
                                  <div class="form-group">
                                      <p><%= user.businessName %></p>
                                  </div>
                              </div>

                              <div class="row">
                                  <div class="form-group">
                                      <p><%= user.businessAddress %></p>
                                  </div>


      <form class="text-right mt-3" action="/logout" method="post">
          <button type="button" class="btn btn-primary">Sign Out</button>&nbsp;
      </form>
      </div>
      </div>
      </div>
  </div>
    </div>
    </div>
    </div>
    </div>

<%- include('partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>

</html>